<mz-progress *ngIf="!pets"
  [backgroundClass]="'blue lighten-4'"
  [progressClass]="'blue'">
</mz-progress>


<div class="container">
  <div class="row">
    <div class="col s4" *ngFor="let pet of pets">
<mz-card
  class="green lighten-1 white-text"
  [horizontal]="true"
  [hoverable]="true"
  style="margin-top: 65px">
    <mz-card-title style="font-size: xx-large">
      {{pet.name}}
    </mz-card-title>
    <mz-card-content>
      <p>Type: {{pet.type}}</p>
      <p>Color: {{pet.color}}</p>
      <p>Born: {{pet.birthdate}}</p>
    </mz-card-content>
    <mz-card-action>
      <p style="font-size: larger; margin-top: 10px; margin-left: 9px">Price: {{pet.price}} $</p>
      <button mz-button class="blue" routerLink="/pets/{{pet.id}}" style="margin-left: 2%; float: left">Details</button>

      <button mz-button class="red" [float]="true" (click)="deletePet(pet.id)" style="margin-left: 2%; float: right"><i mz-icon [icon]="'delete'"></i></button>
      <button mz-button class="blue" [float]="true"  routerLink="/pet-update/{{pet.id}}" style="float: right"><i mz-icon [icon]="'edit'"></i></button>
    </mz-card-action>
</mz-card>
    </div>
  </div>
</div>



