<div class="container">

<form [formGroup]="petForm" (ngSubmit)="save()">

  <label>
    Pet Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    Pet Type:
    <input type="text" formControlName="type">
  </label>

  <label>
    Pet Color:
    <input type="text" formControlName="color">
  </label>

  <label>
    Pet Price:
    <input type="text" formControlName="price">
  </label>

  <button mz-button routerLink="/pets"><i mz-icon [icon]="'chevron_left'" [align]="'left'"></i>Back</button>
  <button mz-button type="submit" style="margin-left: 2%"><i mz-icon [icon]="'edit'" [align]="'left'" ></i>Update</button>

</form>
</div>
  
