<ul id="dropdown1" class="dropdown-content">
  <li><a href="javascript:void(0)">one</a></li>
  <li><a href="javascript:void(0)">two</a></li>
  <li class="divider"></li>
  <li><a href="javascript:void(0)">three</a></li>
</ul>

<mz-navbar class="">
  <a href="#"  class="brand-logo center">Pet Shop</a>
  <mz-navbar-item-container [align]="'left'">
    <mz-navbar-item><a routerLink="/"><i mz-icon [icon]="'home'"></i></a></mz-navbar-item>
    <mz-navbar-item><a routerLink="/pets">Pets</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="/pet-add">Add Pet</a></mz-navbar-item>



  </mz-navbar-item-container>
</mz-navbar>



