<div class="container">


  <form [formGroup]="ownerForm" (ngSubmit)="save()">

    <label>
      Owner First Name:
      <input type="text" formControlName="firstName">
    </label>

    <label>
      Owner Last Name:
      <input type="text" formControlName="lastName">
    </label>

    <label>
      Owner Address:
      <input type="text" formControlName="address">
    </label>

    <label>
      Phone number:
      <input type="text" formControlName="phoneNumber">
    </label>

    <label>
      Email:
      <input type="text" formControlName="email">
    </label>


    <button mz-button routerLink="/owners"><i mz-icon [icon]="'chevron_left'" [align]="'left'"></i>Back</button>
    <button mz-button type="submit" style="margin-left: 2%"><i mz-icon [icon]="'add'" [align]="'left'" ></i>Add Owner</button>

  </form>
</div>
